<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--填入数据库文件的路径即可，这里我们放在debug目录下，所有只需要直接写入文件名FMS.db3-->
    <add name="SQLiteDB" connectionString="Data Source=FMS.db3"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>